.background-primary {
  background-color: var(--primary-color);
}

.card {
  margin-left: calc(-1 * var(--margin-small));
  margin-right: calc(-1 * var(--margin-small));
  margin-bottom: var(--margin-small);
  position: relative;
  transition: all 0.3s ease-out;
  border-top: var(--border-width) solid var(--text-color);
  border-bottom: var(--border-width) solid var(--text-color);
  background-color: var(--bg-color);
}

.card:hover,
.card:focus-within {
  transform: translate(0, -0.5rem);
}

.card:hover a,
.card a:focus {
  outline: 10px solid var(--focus-indicator-color);
}

.card * {
  color: var(--text-color);
  text-decoration: none;
}

.card h2,
.card p {
  margin: 1rem;
}

.card a {
  display: block;
  height: 100%;
}

@media all and (min-width: 550px) {
  .card {
    margin-left: 0;
    margin-right: 0;
  }
  .card {
    border: var(--border-width) solid var(--text-color);
  }
  .card h2,
  .card p {
    margin: 2rem;
  }
}

@media all and (min-width: 1000px) {
  .cards {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .card:not(:last-child) {
    margin-right: 1rem;
  }
}
