/* Reset */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
figure {
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

svg {
  display: block;
}

/* Typography */

body {
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 1.5rem;
  margin-top: 2em;
  margin-bottom: 2em;
}
h2 {
  font-size: 1.3104rem;
}
h3 {
  font-size: 1.1447rem;
}
small {
  font-size: 0.8736rem;
}

/* Variables */

:root {
  --bg-color: #ffffff;
  --bg-alternative-color: #eeeeee;
  --light-color: #cccccc;
  --text-color: #000000;
  --primary-color: #cfeebb;

  --border-width: 2px;

  --margin-small: 1rem;
}

/* Utilities */
.skip-link {
  position: absolute;
  left: -10000px;
  background-color: var(--bg-color);
  border: var(--border-width) solid var(--text-color);
  padding: 1rem;
}

.skip-link:focus {
  left: 0;
}

.margin-small-x {
  margin-left: var(--margin-small);
  margin-right: var(--margin-small);
}

/* Specific styles */

main {
  max-width: 1200px;
  margin-left: var(--margin-small);
  margin-right: var(--margin-small);
}

.viz-container {
  border-top: var(--border-width) solid var(--light-color);
  border-bottom: var(--border-width) solid var(--light-color);
  background-color: var(--bg-alternative-color);
  overflow: auto;
}

.viz-container svg {
  width: 100%;
  min-width: 700px;
}

#population-table td:nth-child(2) {
  text-align: right;
}

svg text {
  font-size: 1rem;
  color: var(--text-color);
}

.axis-label {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Media queries for larger screens */

@media all and (min-width: 550px) {
  :root {
    --margin-small: 3rem;
  }
}

@media all and (min-width: 1000px) {
  main {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
  }
}
